<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">
        Edit User
      </h5>

      <div class="card-body">
        <form action="/admin_update/<%= @user.id %>">
          <div class="form-group">
            <label for="username">Username</label>
            <input name="username" id="username" value="<%= @user.username %>" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input name="email" id="email" value="<%= @user.email %>" class="form-control">
          </div>
          <div class="form-group">
            <label for="confirmed_at">confirmed_at</label>
            <input type="datetime-local" name="confirmed_at" id="confirmed_at" value="<%= @user.confirmed_at %>" class="form-control">
          </div>
          <div class="form-group">
            <label for="mod">mod</label>
            <input name="mod" id="mod" value="<%= @user.mod %>" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
